#root {
    margin: 0;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

@media print {
    .hide-on-print {
        display: none !important;
    }
}

.btn-info {
    background-color: orangered;
    border-color: orangered;
}

.btn-info:hover {
    background-color: orangered;
    border-color: orangered;
}
